h1, h2, h3, ul, p {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding-left: 32px;
  padding-right: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 12px;
  height: 100vh;
  background-color: #F3F4F9;
}

.sidebar__toggle-btn {
  position: absolute;
  top: 0;
  left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 106px;
  background-color: transparent;
  background-image: url("../img/sidebar-btn-background.svg");
  cursor: pointer;
  border: none;
  outline: none;
}

.sidebar__toggle-btn svg {
  width: 26px;
  height: 20px;
}

.sidebar--opened {
  width: 192px;
}

.sidebar--opened .logo,
.sidebar--opened .emblem {
  display: block;
}

.sidebar--opened .main-navigation {
  display: block;
}

.sidebar--opened .sidebar__toggle-btn {
  left: 192px;
}

.logo,
.emblem,
.main-navigation {
  display: none;
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.emblem {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.logo {
  width: 38px;
  height: 21px;
}

.main-navigation {
  list-style: none;
}

.main-navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 42px;
  padding-left: 20px;
}

.main-navigation__item a {
  font-family: "Open Sans", "sans-serif";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

.main-navigation__item:last-child {
  margin-bottom: 0;
}

.main-navigation__item--current {
  padding-left: 18px;
  border-left: 2px solid #34ABE0;
}

.main-navigation__item--current a {
  color: #34ABE0;
}

.main-navigation__item .icon {
  display: none;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 37px;
  padding-bottom: 26px;
  font-family: "Open Sans", "sans-serif";
  background-color: #FFFFFF;
  border-bottom: 1px solid #E5E5E5;
}

.main-header--scroll {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 107px;
  padding-top: 27px;
}

.main-header--scroll .page-title {
  display: none;
}

.main-header--scroll .search {
  width: calc(100% - 80px);
  margin-left: auto;
  padding-left: 16px;
  background-image: none;
}

.main-header--scroll.container {
  padding-left: 0;
}

.page-title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.search {
  padding: 12px 16px 12px 46px;
  font-size: 14px;
  line-height: 28px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
  border-radius: 50px;
  border: 1px solid #D6D6D6;
}

.promo-codes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: #FAFAFA;
  list-style: none;
}

.promo-codes-list--scroll {
  margin-top: 107px;
}

.promo-code {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 131px;
  margin-bottom: 15px;
  padding: 16px 20px;
  font-family: "Roboto", "sans-serif";
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.promo-code:hover {
  border-color: #DF212D;
}

.promo-code:last-child {
  margin-bottom: 0;
}

.promo-code__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo-code__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.promo-code__subtitle {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5;
}

.promo-code__reduction-code {
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
  color: #DF212D;
  text-transform: uppercase;
}

.promo-code__reduction-type {
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  opacity: 0.5;
}

.promo-code__img {
  position: absolute;
  top: 0;
  right: -1px;
  height: 100%;
}

@media (min-width: 768px) {
  .container {
    padding-left: 131px;
    padding-right: 27px;
  }
  .sidebar {
    width: 104px;
  }
  .sidebar__toggle-btn {
    left: 104px;
  }
  .sidebar--closed .emblem {
    display: block;
    margin-right: 0;
  }
  .sidebar--closed .main-navigation {
    display: block;
  }
  .sidebar--closed .main-navigation__item {
    padding-left: 40px;
  }
  .sidebar--closed .main-navigation__item--current {
    padding-left: 38px;
  }
  .sidebar--closed .main-navigation__item a {
    font-size: 0;
  }
  .sidebar--opened {
    width: 246px;
  }
  .sidebar--opened .sidebar__toggle-btn {
    left: 246px;
  }
  .sidebar--opened .logo-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 40px;
  }
  .sidebar--opened .main-navigation__item .icon {
    margin-right: 14px;
  }
  .logo-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
  .main-navigation__item {
    padding-left: 40px;
  }
  .main-navigation__item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-navigation__item .icon {
    display: block;
    width: 24px;
    height: 24px;
    stroke: #000000;
  }
  .main-navigation__item--current {
    padding-left: 38px;
  }
  .main-navigation__item--current .icon {
    stroke: #34ABE0;
  }
  .main-header--scroll .search {
    width: calc(100% - 172px);
    padding-left: 46px;
    background-image: url("../img/search.svg");
  }
  .page-title {
    font-size: 28px;
    line-height: 38px;
  }
  .search {
    font-size: 18px;
  }
  .search::-webkit-input-placeholder {
    text-align: left;
  }
  .search:-ms-input-placeholder {
    text-align: left;
  }
  .search::-ms-input-placeholder {
    text-align: left;
  }
  .search::placeholder {
    text-align: left;
  }
  .promo-codes-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    height: calc(100vh - 176px);
  }
  .promo-code {
    width: 48.52459016393443%;
    min-height: 144px;
    margin-bottom: 20px;
    padding: 15px 18px;
  }
  .promo-code:nth-child(2n) {
    margin-left: auto;
  }
  .promo-code:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .promo-code__title {
    font-size: 14px;
  }
  .promo-code__subtitle {
    font-size: 14px;
  }
  .promo-code__reduction-code {
    font-size: 36px;
    line-height: 28px;
  }
  .promo-code__reduction-type {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-left: calc(246px + 60px);
    padding-right: calc(100% - (246px + 60px) - 1080px);
  }
  .sidebar {
    width: 240px;
  }
  .sidebar__toggle-btn {
    display: none;
  }
  .sidebar--closed .logo-link,
  .sidebar--opened .logo-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 12px;
    padding-left: 43px;
  }
  .sidebar--closed .emblem,
  .sidebar--opened .emblem {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .sidebar--closed .logo,
  .sidebar--opened .logo {
    display: block;
  }
  .sidebar--closed .main-navigation__item,
  .sidebar--opened .main-navigation__item {
    padding-left: 42px;
  }
  .sidebar--closed .main-navigation__item--current,
  .sidebar--opened .main-navigation__item--current {
    padding-left: 40px;
  }
  .sidebar--closed .main-navigation__item a,
  .sidebar--opened .main-navigation__item a {
    font-size: 16px;
  }
  .sidebar--closed .main-navigation__item .icon,
  .sidebar--opened .main-navigation__item .icon {
    margin: 0;
    margin-right: 15px;
  }
  .main-header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  .main-header--scroll {
    height: auto;
    padding-top: 37px;
  }
  .main-header--scroll.container {
    padding-left: 300px;
  }
  .main-header--scroll .page-title {
    display: block;
  }
  .main-header--scroll .search {
    width: 100%;
    margin-left: 0;
  }
  .page-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .promo-codes-list {
    height: 100vh;
    padding-top: 216px;
    padding-bottom: 40px;
  }
  .promo-codes-list--scroll {
    margin-top: 0;
  }
  .promo-code {
    width: 346px;
    min-height: 160px;
  }
  .promo-code:nth-child(odd) {
    margin-right: 0;
  }
  .promo-code:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  .promo-code:nth-child(2n) {
    margin-left: 0;
  }
  .promo-code:not(:nth-child(3n)) {
    margin-right: 20px;
  }
}
